 # ~/.gitconfig
[user]
	name = Lawrence
	email = lawrencefej@gmail.com
[http]
	sslVerify = false
[credential]
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
	helper =
	helper = /usr/local/bin/git-credential-manager
[credential "https://forgejo.home.lawrencefej.com"]
	helper = manager
	username = slickace
	credentialStore = gpg
    provider = generic
